@import "../../../../../styles.scss";

.grid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0px;

    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 15px 10px 20px;
}

.plot {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.axis {
    display: flex;
    justify-content: space-between;
}

.axis.x {
    flex-direction: row;
    align-items: flex-end;
}

.axis.y {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 4px;
}

.axis p {
    font-family: $main-font;
    font-size: 9px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.axis-lines line {
    stroke: white;
    stroke-width: 0.5;
    opacity: 0.5;
}

.zoom-upper-padding {
    grid-column-end: span 2;
}

.zoom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-slider {
    width: 100%;
}