/* You can add global styles to this file, and also import other style files */
$dark: #272B34;
$mid: #30343E;
$light: #363A45;

$main-font: "Montserrat";

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden; 
}

a {
    color: inherit; /* Resets the link color to the parent element's color */
    text-decoration: none; /* Removes underline from links */
    font-size: inherit; /* Inherits font-size from parent element */
    font-weight: inherit; /* Inherits font-weight from parent element */
    background-color: transparent; /* Resets any background color */
    border: none; /* Removes any borders */
    padding: 0; /* Resets padding */
    margin: 0; /* Resets margin */
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
