@import "../../../../styles.scss";


.robot-plot {
    background-color: $dark;
    border-radius: 10px;
    box-sizing: border-box;

    width: 200px;
    height: 200px;

    padding: 20px;
}

.plot {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}